<style type="text/css">
    header{ height: 60px; background: #f1f1f1; color: #808080; text-align: center;}
    .icenter{ width: 1000px; margin: auto;}
    .iLogo{ margin: 12px 0 0 0;}
    .headblock{ height: 60px; border-bottom: 1px solid #ccc; line-height: 60px; }
    .headblock h4{ font-size: 20px; font-weight: normal; margin: 0; padding: 0}
    .intWrap{ font-size: 20px; }
    .mainNavVert{ margin: 40px 0; list-style-type: decimal;}
    .mainNavVert li{ margin: 20px 0}
    .userInfo{ font-size: 16px; padding-top: 3px; line-height: 25px;}
    .logoutLink{ margin-top: 25px; font-size: 12px; color: #000; }
    .canClick{ cursor: pointer; }
    .canClick:hover{ text-decoration: underline; }
    .popUp{    position: absolute;  background-color: #fff;width: 500px; left: 50%;margin-left: -250px;padding: 20px;top: 100px; border-radius: 4px;}
    .popUp.wide{ width: 768px; margin-left: -384px;}
    .head{ text-align: center;}

    .fileList{ list-style-type: none; text-align: center; padding: 0 }
    .fileList li{ font-size: 16px; line-height: 21px; margin: 5px 0;}
    h3{ font-weight: normal; margin: 20px 0 30px; }
    .fieldName{ font-size: 14px; margin: 20px 0 10px; }
    .title{margin-top: 20px;}
    .previewTab{ padding: 20px}
    .preview{ display: block; margin: 20px auto; border: 1px solid #e2e2e2; }
    .downloadPath{ font-size:14px;  }
    .smallTimer,.downTitle,.downloadPath{ font-size:14px;  }
    .status{ font-size: 18px; color: #808080;}
    .fieldsPlace{ margin: 0 0 20px;}
</style>

<div class="intWrap" ng-app="iidentic" ng-controller="interface">
    <header>
        <div class="icenter">
            <img src="/images/headLogo.png" alt="headLogo" width="141" class="iLogo"/>
            <div class="userInfo fr" ng-init="initCli('<%=client._id||client.id%>')">
                <div><%= user.username %></div>
                <div><%= client.name %>&nbsp;<%= client.details %></div>
            </div>
        </div>
    </header>

    <div class="icenter">
        <a href="/logout" class="logoutLink fr">выход</a>
    </div>
    <div class="headblock">
        <div class="icenter">
          <h4><%= type.name %></h4>
        </div>
    </div>
    <div class="icenter">
        <h4>Заполните поля:</h4>
        <div class="fieldsPlace">

            <div class="inpLine" ng-repeat="field in fields">
                <div class="fieldName">{{ field.descr }}</div>
                <div class="inpt">
                    <autocomplete attr-placeholder="{{field.placeholder}}" ng-model="field.selected" data="field.data" ng-show="field.type=='text'"></autocomplete>
                    <textarea ng-model="field.selected" cols="30" rows="10" ng-show="field.type=='textarea'"></textarea>
                </div>
            </div>
        </div>
        <button class="generic fl" ng-click="moveback()">Назад</button>
        <button class="generic fr" ng-click="collect()">Создать</button>
        <i class="clear"></i>
        <br/><br/><br/><br/><br/>
    </div>

    <div id="statusPopUp" class="popUp wide" ng-show="job.status != '-1'">
        <i class="closePopUp" ng-click="cancelPooling(); job.status='-1'">x</i>
        <div class="title">Текущий статус: <span class="status">{{job.comments}}</span> <span class="smallTimer">( {{counter}}/{{poolTime}} )</span></div>
        <i class="splitline"></i>
        <div class="previewTab">
            <div ng-show="!!job.filepath" class="downTitle">Скачать: <a class="downloadPath" href="{{job.filepath}}" title="{{job.filepath}}" target="_blank">{{job.filepath}}</a></div>
            <img src="{{job.preview}}" alt="{{job.preview}}" class="preview" ng-show="!!job.preview" width="100%" />
        </div>
        <button class="generic fr" ng-click="cancelPooling(); job.status='-1'">закрыть</button>
        <i class="clear"></i>
    </div>
</div>
<script type="text/javascript">
var fields = <%-JSON.stringify(fields)%>;
var catName = '<%-catName%>';
var typeId = '<%-typeId%>';
</script>
<script type="text/javascript" src="/js/autocomplete.js"></script>
<script type="text/javascript" src="/js/interface.js"></script>
